@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.primary-button { 
    background: linear-gradient(71.85deg, #91AAFF 2.68%, #3752D7 97.55%);
    border-radius: 0.5rem;
    color: white;;
    white-space: nowrap;
}

.white-button { 
    background: white;
    border-radius: 0.5rem;
    color: #586BCA;;
    
    white-space: nowrap;
}

.min-w-694 {
    width: 694px;
}

.text-black-ikon {
    color: #171732;
}

.text-light-gray-ikon {
    color: #8991A2;
}

.sparkle {
    left: 95%;
    bottom: 85%;
}

.max-header-width {
    width: 642px;
}

.hero-img {
    max-width: 16rem;
    top: 10%;
}
.hero-2 {
    left: 57%;
    max-width: 20rem;
    top: 37%;
}

.hero-3 {
    left: 80%;
    top: 10%;
}

.sign-font {
    font-family: 'Plus Jakarta Sans';
    color: #626476;
}


.ikon-primary-color_bg {
    background: linear-gradient(126.87deg, #91AAFF 7.98%, #3752D7 81.51%)
}
.ikon-primary-color {
    color: #586BCA;
}

.ikon_cart_circle {
    top: -10%;
    left: 50%;
}


.bg-newsletter {
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 80vh;
    background-position: center center;
}

.p_ikon {
    font-size: 17px;
}

@media screen and (min-width : 2560px ) {
    .hero-3 {
        left: 67%;
        top: 13%;
    }
    .hero-2 {
        left: 56%;
        top: 33%;
    }
    
}